<div class="row quadraticPage">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-xs-12">
		<div class="well">
			<p>Quadratic equation are equations of the form <strong>ax<sup>2</sup> + bx + c = 0</strong>, where 'a', 'b' &amp; 'c' are values.<br> Enter the values for 'a', 'b', &amp; 'c' to calulcuate the root of the function.
			</p><br>
			<form ng-submit="calcQua()" class="quaForm">
				<div class="row">
					<div class="col-md-3 col-xs-12">
						<input type="number" ng-model="firstValue" placeholder="Enter a value for 'a' " required>
					</div>
					<div class="col-md-3 col-xs-12">
						<input type="number" ng-model="secondValue" placeholder="Enter a value for 'b' " required>
					</div>
					<div class="col-md-3 col-xs-12">
						<input type="number" ng-model="thirdValue" placeholder="Enter a value for 'c' " required>
					</div>
					<div class="col-md-3 col-xs-12">
						<button type="submit" class="btn btn-primary">Calculate</button>
					</div>
				</div>
			</form>
			<h3>{{errMsg}}</h3>
			<h5><b>{{value1}}</b>, &nbsp;&nbsp;&nbsp;&nbsp;<b>{{value2}}</b><br><br>{{typeOfEqn}}</h5>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>