<div class="row todoPage">
	<div class="col-md-2"></div>
	<div class="col-md-8 col-xs-12">
		<div class="well">
			<p>Add An Event To The Todo List</p>
			<form ng-submit="addTodo()">
				<input type="text" ng-model="title" class="titleInput" placeholder="Add Todo" required>
				<button type="submit" class="btn btn-primary addBtn"><span class="glyphicon glyphicon-plus"></span></button><br>
				<br>
				<p><strong>Tasks:</strong> {{tasks.length}} Added &nbsp;&nbsp;&nbsp;{{check}} Checked &nbsp;&nbsp;&nbsp;{{tasks.length - check}} Left.</p>
			</form>
		</div>

		<div class="taskDiv">
			<div class="alert alert-info" ng-repeat="task in tasks track by $index" id="alert{{this.$index}}">
				<button class="close" ng-click="removeTodo()">&times;</button>
			  	<input type="checkbox" ng-model="checked" ng-click="calcRemaining()">&nbsp;&nbsp;&nbsp;&nbsp;
			  	<span class="todo-{{checked}}">{{task}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>